html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color-1: 18, 113, 255;
  --color-2: 221, 74, 255;
  --color-3: 100, 220, 255;
  --color-4: 200, 50, 50;
  --color-5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes moveVertical {
  0% {
    translate: 0 -50%;
  }
  50% {
    translate: 0 50%;
  }
  100% {
    translate: 0 -50%;
  }
}

@keyframes moveHorizontal {
  0% {
    translate: -50% -10%;
  }
  50% {
    translate: 50% 10%;
  }
  100% {
    translate: -50% -10%;
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;

  top: 0;
  left: 0;

  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));

  svg {
    display: none;
  }
}

.gradients-container {
  width: 100%;
  height: 100%;

  filter: url(#goo) blur(40px);
}

.g1 {
  position: absolute;
  opacity: 1;
  width: var(--circle-size);
  height: var(--circle-size);

  background: radial-gradient(circle at center, rgba(var(--color-1), 0.8) 0, rgba(var(--color-1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}

.g2 {
  position: absolute;
  opacity: 1;
  width: var(--circle-size);
  height: var(--circle-size);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  background: radial-gradient(circle at center, rgba(var(--color-2), 0.8) 0, rgba(var(--color-2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
}

.g3 {
  position: absolute;
  opacity: 1;
  width: var(--circle-size);
  height: var(--circle-size);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 40s linear infinite;

  background: radial-gradient(circle at center, rgba(var(--color-3), 0.8) 0, rgba(var(--color-3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
}

.g4 {
  position: absolute;
  opacity: 0.7;
  width: var(--circle-size);
  height: var(--circle-size);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  background: radial-gradient(circle at center, rgba(var(--color-4), 0.8) 0, rgba(var(--color-4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
}

.g5 {
  position: absolute;
  opacity: 1;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  background: radial-gradient(circle at center, rgba(var(--color-2), 0.8) 0, rgba(var(--color-2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
}

.interactive {
  position: absolute;
  opacity: 0.7;
  width: 100%;
  height: 100%;

  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  top: -50%;
  left: -50%;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}
